{# 
-- Citation for code to create the add_member jinja2 file layout and populated dropdown menus
-- Date: 2/27/24
-- Based on OSU Flask Starter App GitHub: 
https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2
#}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Membership</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1>Add New Membership</h1>
    </header>
    <form action="/add_membership" method="POST">
        <fieldset>
            <label for="ID">ID</label>
            <input type="text" name="membershipID" id="membershipID" required>
            
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required>
            
            <label for="details">Details</label>
            <input type="text" name="details" id="details" required>    

        </fieldset>
            <input type="submit" value="Add New Membership" name="Add_New_Membership" class="btn btn-primary" style="margin:.5rem;">
            <a href='/members'><input class="btn" type="button" value="cancel"></a>

        </fieldset>

    </form>
</body>
</html>
