{# 
-- Citation for code to create the edit_member jinja2 file layout and populated dropdown menus
-- Date: 2/27/24
-- Based on OSU Flask Starter App GitHub: 
https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 
#}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Membership</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
</head>
<body>
    <header>
        <h1>Edit Membership</h1>
    </header>
    <div id="edit">
        <!-- form to edit data in Memberships Page-->
        <form id="editMembership" action="/edit_membership/{{ membership.membershipID }}" method="POST">
            <fieldset>
                <legend>Membership Details</legend>
            
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{membership.membershipID}}" class="form-control" id="membershipID" name="membershipID" required>
                    
                    <label for="price">Price:</label>
                    <input type="text" name="price" id="price" value="{{ membership.price }}" required>
                    
                    <label for="details">Details:</label>
                    <input type="text" name="details" id="details" value="{{ membership.details }}" required>
                                    
            </fieldset>
                <input type="submit" value="Edit Membership" name="Edit Membership" class="btn btn-primary" style="margin:.5rem;">
                <a href='/memberships'><input class="btn" type="button" value="cancel"></a>
        </form>

</html>