{# 
-- Citation for code to create the edit_class jinja2 file layout and populated dropdown menus
-- Date: 2/27/24
-- Based on OSU Flask Starter App GitHub: 
https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 
#}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Class</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
</head>
<body>
    <header>
        <h1>Edit a Class</h1>
    </header>
    <div id="edit">
        <!-- form to edit data in Classes Page-->
        <form id="editClass" action="/edit_class/{{ classes.classID }}" method="POST">
            <fieldset>

                <legend>Class Details</legend>

                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{classes.classID}}" class="form-control" id="classID" name="classID" required>
                    
                    <label for="classType">Type:</label>
                    <input type="text" name="classType" id="classType" value="{{ classes.classType }}" required>
                    
                    <label for="schedule">Schedule:</label>
                    <input type="text" name="schedule" id="schedule" value="{{ classes.schedule }}" required>

                    <label for="trainerID">Trainer:</label>
                    <select name="trainerID" id="trainerID" required>
                        {% for trainer in trainers %}
                        <!-- If the value iterated trainer matches the value of the trainer of member currently Editing, pre-select that option -->
                            <option value="{{ trainer.trainerID }}" {% if trainer.trainerID == trainer.trainerID %} selected {% endif %}>
                            {{ trainer.trainerID }} 
                            </option>
                        <!-- End of this for loop -->
                        {% endfor %}
                    </select>
            </fieldset>
                <input type="submit" value="Edit Class" name="Edit Class" class="btn btn-primary" style="margin:.5rem;">
                <a href='/classes'><input class="btn" type="button" value="cancel"></a>
        </form>

</html>