<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MembersClasses</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
</head>
<body>
    <header>
        <h1>Elite Fitness Gym</h1>
    </header>
    <nav>
        <a href="/">Home</a> 
        <a href="/members">Members</a> 
        <a href="/memberships">Memberships</a> 
        <a href="/trainers">Trainers</a> 
        <a href="/classes">Classes</a> 
        <a href="/members_classes">MemberClasses</a>
    </nav>
    <br>
    <fieldset>
        <h2>MemberClasses Intersection Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Member</th>
                    <th>Class Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cherish Wells</td>
                    <td>HITT</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Gracie Jennings</td>
                    <td>HITT</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Roselyn Valez</td>
                    <td>HITT</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kole Pennington</td>
                    <td>Boxing</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Irvin Hodges</td>
                    <td>BJJ</td>
                </tr>
            </tbody>
        </table>
    </fieldset>

</body>

</html>